html {
    font-size: (100vw — 769px)/2048px;
}

body{
    display: block;
    margin: 8px;
    background-color: white;
}

.div1 {
   background-color:#194277; 
   height: 40px;
   padding-top: 20px;
   padding-bottom: 15px;
   display: flex;
   flex-wrap: wrap;
   border: 1px dashed none;
   justify-content: center;
}

.div2 {
    height: 550px;
    background-image: url(./Foto.png);
    text-align: center;
}

.div3{
    display: inline-block;
    vertical-align: middle;
    height: 150px;
    margin-top: 50px;
}

.back {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    box-shadow: 0 0 0 6px #5799fe, 0 0 0 12px #428cfe;
    line-height: normal;
    
}

.cookies {
    color: white;
    font-style: normal;
    display: inline-block;
    font-family:  'Raleway', sans-serif;
    font-size: 11px;
    vertical-align: middle;
} 

.Accept {
    background-color: white;
    color: #194277;
    border-radius: 15px;  
    height: 20px;
    width: 60px;
    text-align: center;
    font-weight: bold;
    font-size: 11px;
    margin-left: 20px;  
    padding-top: 8px ;
    padding-bottom: 1px;
    font-family: 'Raleway', sans-serif;
    outline: none;
    text-decoration: none; 
}

.menu {
    font-size: 30px;
    color: white;
    outline: none;
    border: 0;
    background: transparent;
    text-align: right;
    position: absolute;
    right: 10%;
    margin-top: 10px;
}

.free {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    color: white;
    letter-spacing: 1px;
    font-family: 'Raleway', sans-serif;
}

.LABORE {
    color: white;
    font-size: 16px;
    font-style: normal;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    line-height: 2.5;
}

.button_hire_me{
    display: flex;
    flex-wrap: wrap;   
    width: 200px;   
    margin-left: auto;
    margin-right: auto;
}

.hire {
    background-color: white;
    color: #4ea3fd;
    border-radius: 30px;  
    height: 20%;
    width: 40%;
    font-size: 16px;  
    vertical-align: middle;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin-top: 5%;
    margin-left: 30%;
    outline: none;
    text-decoration: none;
    padding-top: 4px;
    padding-bottom: 3px;
}

.arrow{
    color: white;
    vertical-align: middle;
    font-size: 20px;
    margin-top: 10%;
    margin-left: 48%;
    margin-bottom: 30%;
    text-decoration: none;
   
} 


#about_me {
    font-size: 25px;
    text-align: center;
    color: #6fb3ff;
    font-family: 'Raleway', sans-serif;
}

.lorem {
    text-align: center;
    font-size: 16px;
    line-height: 200%;
    color:#646464;
    font-family: 'Raleway', sans-serif;;
}

.blocks_exper_in{
     color: #368cfe;
     font-weight: bold;
     text-align: center;
     font-family: 'Raleway', sans-serif;
     font-size: 20px;
}

.proposition{
    margin-top: 10%;
    background-color: #f7faff;
}

.box {
    flex-basis: 30%;
    min-width: 200px;  
} 

.lorem_box {
    text-align: center;
    font-size: 16px;
    line-height: 200%;
    color:#646464;
    font-family: 'Raleway', sans-serif;;
}

.expert {
    justify-content: space-around;
    padding-top: 2% ;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.expert_foto{
    padding:15px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: solid 1px lightgray;
} 

.caption_lol {
    font-size: 25px;
    text-align: center;
    color: #6fb3ff;
    font-family: 'Raleway', sans-serif;
}

.caption {
    font-size: 25px;
    text-align: center;
    color: #6fb3ff;
    font-family: 'Raleway', sans-serif;
    padding-top: 3%;
}
.div4{
    display: block;
}

.img2 {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    line-height: normal;
}

.clients{
    background-color: #f7faff;
}

.img-clients{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.microsoft{
    margin: auto 20px;
    width: 10%;
    filter: grayscale(100%);
}

.samsung{
    margin: auto 20px;
    width: 10%;
    filter: grayscale(100%);
}

.ibm{
    margin: auto 20px;
    width: 10%;
    filter: grayscale(100%);
}

.google{
    margin: auto 20px;
    width: 10%;
    filter: grayscale(100%);
}

/*footer*/

.div_footer{
    background-image: url(./Foto.png);  
    display: flex;
   flex-wrap: wrap;
   border: 1px dashed none;
   justify-content: center;
}

.need{
    color: white;
    font-style: normal;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    margin: 3% 1%;;
} 

.button2 {
    background-color: white;
    color: #4ea3fd;
    border-radius: 30px;
    width: 80px;  
    font-size: 16px;  
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 2.5% 1%;
    text-decoration: none;
    outline: none;
}

.bold{
    font-weight: bolder;
}

@media screen and (max-width:1250px){
    .lorem{
        font-size: 14px;
    }

    .lorem_box{
        font-size: 11px;
    }
}

@media screen and (max-width:920px){
    .LABORE{
        font-size: 14px;
    }
    .lorem{
        font-size: 12px;
    }

    .lorem_box{
        font-size: 10px;
    }

    .box{
        min-width: 250px;
    }
}

@media screen and (max-width:800px){
    .free{
        font-size: 30px;
    }

    #about_me{
        font-size: 22px;
    }

    .caption{
        font-size: 22px;
    }

    .caption_lol{
        font-size: 22px;
    }

    .lorem{
        font-size: 10px;
    }

    .lorem_box{
        font-size: 8px;
    }

}
@media screen and (max-width:680px){
    .free{
        font-size: 28px;
    }
    
    .LABORE{
        font-size: 12px;
    }

    #about_me{
        font-size: 20px;
    }

    .caption{
        font-size: 20px;
    }

    .caption_lol{
        font-size: 20px;
    }

    .lorem{
        font-size: 9px;
    }

    .blocks_exper_in{
        font-size: 18px;
    }

    .lorem_box{
        font-size: 7px;
    }
}
@media screen and (max-width:600px){
    .free{
        font-size: 26px;
    }

    .LABORE{
        font-size: 10px;
    }

    #about_me{
        font-size: 18px;
    }

    .caption{
        font-size: 18px;
    }

    .caption_lol{
        font-size: 18px;
    }

    .lorem{
        font-size: 7px;
    }
    
    .button2{
        margin-top: 1.5%;
    }

    .need{
        font-size: 14px;
    }
}

@media screen and (max-width:600px){
    .free{
        font-size: 22px;
    }

    .div2{
        height: 500px;
    }
    
    .expert_foto{
        height:20% ;
        width: 20%;
    }
    .box{
        min-width: 200px;
    }

    .LABORE{
        font-size: 8px;
    }

    #about_me{
        font-size: 16px;
    }

    .caption{
        font-size: 16px;
    }

    .caption_lol{
        font-size: 16px;
    }

    .lorem{
        font-size: 6px;
    }

    .blocks_exper_in{
        font-size: 16px;
    }

    .button2{
        width: 15%;
        font-size: 10px;
    }
}

@media screen and (max-width:420px){
    .cookies{
        font-size: 8px;
    }

    .div2{
        height: 400px;
    }

    .back{
        height: 50%;
        width: 25%;
    }

    .free{
        font-size: 16px;
    }

    .LABORE{
        font-size: 6px;
    }

    #about_me{
        font-size: 14px;
    }

    .caption{
        font-size: 14px;
    }

    .caption_lol{
        font-size: 14px;
    }

    .box{
        min-width:300px;
    }

    .expert_foto{
        height: 30%;
        width: 15%;
    }

    .lorem_box{
        font-size: 6px;
    }

    .lorem{
        font-size: 4px;
    }

    .blocks_exper_in{
        font-size: 10px;
    }

    .need{
        font-size: 10px;
    }
}



